
<div>
    <div class="navbar-fixed-top">

        <div class="bg-img">
            <div class="container">
              <div class="topnav">
            <!--     <a href="#home">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a> -->
              </div>
            </div>
          </div>

    </div>

    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-top: 100px;">
            <div class="container-fluid">

                <div>

                    <a routerLink="acceuil" routerLinkActive="active" class="navbar-brand"><img
                            src="../assets/images/logo.svg" alt="Dispute Bills">
                    </a>

                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a routerLink="/admin/presentation" routerLinkActive="active"
                            style="margin-left: 20px;">Présentation</a></li>
                    <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#">Laboratoires<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu btn1">
                            <li><a href="#">Unité d'Hydrologie Isotopique</a></li>
                            <li><a href="#">Unité Radiopharmaceutiques</a></li>

                        </ul>




                    <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrateur<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu btn1">
                            <li><a routerLink="/admin/gestionusers" routerLinkActive="active">Gestion Des
                                    Utilisateurs</a></li>
                            <li><a routerLink="/admin/gestionservices" routerLinkActive="active">Gestion Des
                                    Services</a></li>
                            <li><a routerLink="/admin/gestiondirections" routerLinkActive="active">Gestion Des
                                    Directions</a></li>
                            <li><a routerLink="/admin/gestionequipement" routerLinkActive="active">Gestion Des
                                    Equipement</a></li>
                            <li><a routerLink="/admin/gestioncategorie" routerLinkActive="active">Gestion Des
                                    Catégories</a></li>
                            <li><a routerLink="/admin/gestionsalles" routerLinkActive="active">Gestion Des Salles</a>
                            </li>
                            <li><a routerLink="/admin/gestionreservation" routerLinkActive="active">Gestion Des
                                    Réservation</a></li>

                        </ul>






                    <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallerie<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu btn1">
                            <li><a routerLink="/admin/gallerie" routerLinkActive="active">le 30 eme anniversaire du
                                    CNSTN</a></li>

                            <li><a href="#">Visite de Ministre de l'enseignement superieur</a></li>


                        </ul>
                    </li>
                    <li><a routerLink="/admin/lienutile" routerLinkActive="active">Liens utlies</a></li>
                    <li><a routerLink="/admin/actualité" routerLinkActive="active">actualité</a></li>
                    <li><a routerLink="/admin/contact" routerLinkActive="active">Contact</a></li>
                    <li><a routerLink="/admin/mesforms" routerLinkActive="active">forms2</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li style="color: aliceblue; margin-top: 15px;">Bonjour {{this.authService.username}}</li>
               
<li style="margin-top: 8px; margin-left: 8px; margin-right: 7px;">      <button class="btn btn-danger" (click)="handleLogout()">Logout</button></li>
              
                </ul>



            </div>




        </nav>



    </div>


    <div style="margin-top: 170px;">
        <router-outlet></router-outlet>
        <app-footer></app-footer>