<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3>LISTE DES SERVICES</h3>
        </div>
        <div class="panel-body">
            <mat-list>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <h2>Liste des services</h2>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <td> <button mat-raised-button color="success" (click)="evaluateboleann()"><b>Ajouter un
                            service</b></button></td>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
            </mat-list>
            <div class="container" *ngIf="mybolean">
                <h2>Nouveau service</h2>


            <form class="form-horizontal" action="/action_page.php">

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nom">Nom:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nom" placeholder="entrez votre nom" name="nom"
                            [(ngModel)]="monservice.nom">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description"
                            placeholder="entrez votre description" name="description"
                            [(ngModel)]="monservice.description">
                    </div>
                </div>
                    <div class="form-group">
                        <label for="cat-select" class="control-label col-sm-2" >Direction:</label>
                   
                    <select id="direction" [(ngModel)]="monservice.direction" name="category" required>
                      <option *ngFor="let d of mesdirections" [ngValue]="d">{{ d.nom }}</option>
                    </select>
                </div>
            
               
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" (click)=" onSubmit()">Submit</button>
                    </div>
                </div>
            </form>
        </div>


            <div *ngIf="!mybolean">
                
            <table class="table table-bordered ">
                <thead>
                    <tr class="success">
                    </tr>
                    <th>id</th>
                    <th>nom</th>
                    <th>description</th>
                    <th>direction</th>
                    <th>Suppression</th>
                    <th> Mise à jour</th>
                </thead>
                <tbody>
                 <tr *ngFor="let monservice of messervices">
                        <td>{{monservice.id}}</td>
                        <td>{{monservice.nom}}</td>
                        <td>{{monservice.description}}</td>
                        <td>{{monservice.direction?.nom}}</td>
                        <td> <button mat-raised-button color="warn" (click)="deletservicebyid(monservice.id)">Suppression</button></td>
                        <button mat-raised-button color="primary"  (click)="serviceDetails(monservice.id)">Mettre à jour</button>
                    </tr>
                    
            </table>
            <div class="panel panel-success" *ngIf="mybolean2">
                <div class="panel-heading text-center"><h3>Modification</h3></div>
                <div class="panel-body">
            <div class="container" >
                <h2>Modification</h2>
            </div>
            <mat-list>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
              </mat-list>
             
            <form (ngSubmit)="Update()"  #form="ngForm">
                <div>
                    
                  <label><b>Nom: </b></label>
                  <input type="text" class="form-control" id="nom" placeholder="entrez votre nom" name="nom"
                    [(ngModel)]="monservice.nom">
                </div>
                <div>
                  <label><b>Description </b></label>
                  <input type="text" class="form-control" id="prenom" placeholder="entrez votre description" name="Description"
                    [(ngModel)]="monservice.description">
                </div>
                <div class="form-group">
                    <label for="cat-select" class="control-label col-sm-2" >Direction:</label>
               
                <select id="direction" [(ngModel)]="monservice.direction" name="category" required>
                  <option *ngFor="let d of mesdirections" [ngValue]="d">{{ d.nom }}</option>
                </select>
            </div>
                
                <mat-list>
                    <mat-divider></mat-divider>
                   
                  </mat-list>
                <button type="submit" mat-raised-button color="primary" >Mettre à jour</button>
                <mat-list>
                    <mat-divider></mat-divider>
                    <button type="submit" mat-raised-button color="warn" (click)="evaluatebolean2()" >Annuler</button>
                  </mat-list>
          
              </form>
                 </div>
                </div>
            
    
        </div>
      </div>
    
</div>