<div>
  <div class="navbar-fixed-top">
  
  <app-header2></app-header2>
  
  </div>
  
    <div>
      <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-top: 100px;">
        <div class="container-fluid">
  
          <div>
  
            <a routerLink="acceuilcnstn" routerLinkActive="active" class="navbar-brand"><img
                src="../assets/images/logo.svg" alt="Dispute Bills">
            </a>
  
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="presentation" routerLinkActive="active"
                style="margin-left: 20px;">Présentation</a></li>
            <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#">Laboratoires<span
                  class="caret"></span></a>
              <ul class="dropdown-menu btn">
                <li><a href="#">Unité d'Hydrologie Isotopique</a></li>
                <li><a href="#">Unité Radiopharmaceutiques</a></li>
  
              </ul>
  
  
  
  
            <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrateur<span
                  class="caret"></span></a>
              <ul class="dropdown-menu btn">
                <li><a routerLink="gestionusers" routerLinkActive="active">Gestion des utilisateurs</a></li>
                <li><a routerLink="gestionservices" routerLinkActive="active">Gestion des services</a></li>
                <li><a routerLink="gestiondirections" routerLinkActive="active">Gestion des directions</a></li>
                <li><a href="#">Gestion d'equipement</a></li>
                <li><a href="#">Gestion de réservation</a></li>
  
  
              </ul>
  
  
  
  
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Formulaires<span
                  class="caret"></span></a>
  
               <ul  class="dropdown-menu btn" >
                <li *ngFor="let procedures of mesproc">
                  <a href="#">{{procedures.nom}}</a>
              
                </li>
            
              </ul> 
              
  
  
  
  
  
  
            </li>
  
            <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallerie<span
                  class="caret"></span></a>
              <ul class="dropdown-menu btn">
                <li><a routerLink="gallerie" routerLinkActive="active">le 30 eme anniversaire du CNSTN</a></li>
  
                <li><a href="#">Visite de Ministre de l'enseignement superieur</a></li>
  
  
              </ul>
            </li>
            <li><a routerLink="lienutile" routerLinkActive="active">Liens utlies</a></li>
            <li><a routerLink="actualité" routerLinkActive="active">actualité</a></li>
            <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="mesforms" routerLinkActive="active">forms2</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
  
  
  
        </div>
  
  
  
  
      </nav>
   
  
  
    </div>
  
  
    <div style="margin-top: 170px;"> 
      
      <router-outlet></router-outlet></div>
  
  
  

  
  
      
    
  
  </div>
  <app-footer></app-footer>