<table>
  <thead>
    <tr>
      <th>Procedure</th>
      <th>Num</th>
      <th>Nom du formulaire</th>
      <th>code</th>
      <th>revision</th>
      <th>date d'application</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let procedure of procedures; let i = index">
      <tr *ngFor="let formulaire of procedure.formulaires; let j = index">
        <ng-container *ngIf="j === 0">
          <td [attr.rowspan]="procedure.formulaires.length">{{ procedure.nom }}</td>
        </ng-container>
        <td>{{ formulaire.id }}</td>
        <td>{{ formulaire.nomforms }}</td>
        <td>{{ formulaire.code }}</td>
        <td>{{ formulaire.revision }}</td>
        <td>{{ formulaire.date_d_application }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
