

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>LISTE DES SALLES</h3></div>
        <div class="panel-body">
            <mat-list>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-list-item><h2>Liste des salles</h2></mat-list-item>
                
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
               
                <td> <button mat-raised-button color="success" (click)="evaluatebolean()"><b>Ajouter une salle</b></button></td>
             
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
              </mat-list>
              
            
                <div class="container" *ngIf="mybolean">
                  <h2>Nouveau salle</h2>
                  <form class="form-horizontal" action="/action_page.php">
                    
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="nom">Nom:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="nom" placeholder="entrez votre nom" name="nom"  [(ngModel)]="newsalle.nom">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="nombre de salle">nombre de salle:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre de salle" placeholder="entrez votre nombre de salle" name="nombre de salle"  [(ngModel)]="newsalle.nombre_de_salle">
                      </div>
                    </div>
                
                    
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" (click)=" adduser()" >Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              
          
   
        
             
            <table class="table table-bordered text-center" *ngIf="!mybolean">
              <thead>
                <tr class="success ">
                </tr >
                
                 <th >id</th>
                  <th>nom</th>
                  <th>nombre de salle</th>
            
                    
                 
        
                  <th>Suppression</th>
                  <th> Mise à jour</th>
                
               
        
              </thead>
              
              <tbody>
                
                <tr *ngFor="let monsal of  messalle">
                    
           
                   
                     
                        <td>{{monsal.id}}</td>
                        <td>{{monsal.nom}}</td>
                        <td>{{monsal.nombre_de_salle}}</td>
                        
        
                        <td> <button mat-raised-button color="warn"  (click)="deletsallebyid(monsal.id)">Suppression</button></td>
                        <td><button mat-raised-button color="primary"  (click)="salleDetails(monsal.id)"> Mise à jour</button></td>
                    </tr>
            </table>
            <div class="panel panel-success" *ngIf="mybolean2">
              <div class="panel-heading text-center"><h3>Modification</h3></div>
              <div class="panel-body">
          <div class="container" >
              <h2>Modification</h2>
          </div>
          <mat-list>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
            </mat-list>
           
          <form (ngSubmit)="Update()"  #form="ngForm">
              <div>
                  
                <label><b>Nom: </b></label>
                <input type="text" class="form-control" id="nom" placeholder="entrez votre nom" name="nom"
                  [(ngModel)]="salleupdate.nom">
              </div>
              <div>
                <label><b>Nombre de salle: </b></label>
                <input type="number" class="form-control" id="nombre de salle" placeholder="entrez votre nombre de salle" name="Nombre de salle"
                  [(ngModel)]="salleupdate.nombre_de_salle">
              </div>
    
             
         
              
              <mat-list>
                  <mat-divider></mat-divider>
                 
                </mat-list>
              <button type="submit" mat-raised-button color="primary" >Mettre à jour</button>
              <mat-list>
                  <mat-divider></mat-divider>
                  <button type="submit" mat-raised-button color="warn" (click)="evaluatebolean2()" >Annuler</button>
                </mat-list>
        
            </form>
               </div>
              </div>
          
  
      </div>
    </div>
  
</div>


