/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* body {
    color: rgb(225, 243, 245);
    font-weight: 400;
  } */

 

   
    

  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
